/******************************
            Whole Body
******************************/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/******************************
        Navigation Menu
******************************/

/*Navigation container*/
.navigation{
    display:flex;
    justify-content: center;
    background-color: #5cdb95
}

/*Navigation menu ul*/
.navigation ul{
    list-style: none;
}

/*Navigation list elements*/
.navigation ul li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

/*Navigation li a links*/
.navigation ul li a{
    text-decoration: none;
    color:#05386B;
    font-weight: bold;
}

/******************************
        Main content
******************************/

/*Main content container 1*/
.container1{
    display:flex;
    justify-content: center;
    height: 600px;
    background-color: #5cdb95
}

.container1 section{
    width: 1000px;
    padding: 10px;
    color:#05386B;
}

.container1 section h2{
    color:#edf5e1;
    font-size: 60px;
}

/*Main content container 2*/
.container2{
    display:flex;
    justify-content: center;
    height: 600px;
}

.container2 section{
    width: 1000px;
    padding: 10px;
    color:#05386B;
}

.container2 section #project1{
    width: 500px;
}

.container2 section #project2{
    width: 500px;
}

.container2 section #project3{
    width: 500px;
}

.container2 section #project4{
    width: 500px;
}

.container2 section h2{
    float:right;
    font-size: 60px;
}

/*Main content container 3*/
.container3{
    display:flex;
    justify-content: center;
    height: 600px;
    background-color: #5cdb95
}

.container3 section{
    width: 1000px;
    padding: 10px;
    color:#05386B;
}

.container3 section h2{
    color:#edf5e1;
    font-size: 60px;
}

/******************************
            Footer
******************************/
/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: #5cdb95;
    color:#05386B;
}